<!DOCTYPE html> <!-- BEM naming methodology for scalability and maintainability of app-->
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: "Dhumm's Bumbling Books - Our Books"}) %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
<main id="root">
    <span class="notification">
        <i class="fa-solid fa-check"></i> 
        <p>Product added to cart successfully!</p>
    </span>
<div class="content-wrapper">
<section class="site-title">
    <div class="container">
        <h1 class="site-title__title">The Store!</h1>
    </div>
</section>
<section class="book-list">
    <div class="container">
    <%- include('./partials/modal.ejs') %>
    <% if(books.length > 0) { %>
        <% books.forEach((book) => { %>
            <%- include('./partials/book.ejs', {book: book}) %>
       <% }) %>
    <% } %>
    </div>
</section>
</div>
</main>
<%- include('./partials/footer.ejs') %>
<noscript>
    <!-- Show all content if no JS  -->
</noscript>
<!-- Store Specific Scripts -->
<script type="module" src="/js/store.js"></script>
</body>
</html>



